div.video {
	position: relative;
	margin-top: 35px;
	height: 213px;
	width: 380px;
	overflow: hidden;
}

div.video img {
	position: relative;
	top: -36px;
}

div.video a {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('../../public/images/video-overlay.png');
	background-position: center center;
	width: 380px;
	height: 213px;
	display: block;
	
	opacity: 0.5;
	
  -webkit-transition: all 0.5s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.5s ease-out;  /* FF4+ */
      -ms-transition: all 0.5s ease-out;  /* IE10? */
       -o-transition: all 0.5s ease-out;  /* Opera 10.5+ */
          transition: all 0.5s ease-out;  
}

div.video a:hover {
	opacity: 1;
}

#arrow {
	cursor: pointer;
	display: none;
	position: absolute;
	top: 470px;
	left: 0;
	width: 100%;
	/*height: 467px;
	background-image: url('../../public/images/arrow-bg.png');
	background-repeat: repeat-x;*/
	text-align: center;
	z-index: 99;
}

.fill {
	position: relative;
	width: 100%;
	height: 120px;
	margin: 0;
	border-top: 2px solid #ccc;
	background-color: @bb;
}

	.fill .teaser {
		
		position: relative;
		width: 760px;
		margin: 0 auto;
		padding: 0;
	}
	
	.fill .teaser * {
		display: none;
	}