#requireWrapper {
	width: 400px;
}

div.recommended, div.custom {
	width: 200px;
	float: left;
}
	
	div.requireColumn .browserWrapper {
		margin: 15px 0 30px 0;	
	}
	
	div.requireColumn .browser {
		height: 30px;
		margin-top: 5px;
		 
		font-size: 0.9em;
		font-weight: 600;
	}
	
	div.recommended .browser img {
		position: relative;
		top: 5px;
	}
	
	div.recommended .browser > span {
		font-family: 'PT Sans Narrow', sans-serif;
		font-weight: 400;
		font-size: 1.2em;
		letter-spacing: 0;	
	}
	
	div.recommended .browser > span span {
		font-size: 0.8em;	
	}
	
	div.custom .browser {
		height: 25px;
		margin-top: 5px;
		padding: 5px 0 0 23px;
	}
	
	div.advanced {
	}

	div.advancedWrapper {
		display: none;
	}
	
		div.slideWrapper {
			height: 100px;
		}
	
		div.advancedWrapper dl {
			margin: 20px 0 20px 0;
		}
		
		div.advancedWrapper dt {
			margin-bottom: 10px;
			font-weight: normal;
			float: left;
			clear: both;
			width: 300px;
		}
		
		div.advancedWrapper dd {
			float: left;
			width: 100px;
		}
		
		div.advancedWrapper small {
			font-size: 0.7em;
		}
		
		div.codewrapper div.copy a {
			font-size: 0.8em;
		}
		
		div.codewrapper div.copy img {
			vertical-align: middle;
		}
		
		#clipContainer {
			position: relative;

			embed {
				position: absolute;
				top: 0;
				left: 0;
			}
		}