/**
 * Styles for mobile layout
 */
 
#wrapper {
	overflow: hidden;
}
 
body.mobile #header h2,
body.mobile #header ul,
body.mobile #content,
body.mobile div.teaserwrapper,
body.mobile #arrow,
body.mobile #footerwrapper #twitter_update_list
{
	display: none !important;
}

body.mobile #headerwrapper {
	position: relative;
	top: -10px;
	height: 95px;
}

	body.mobile #headerwrapper h1 {
		font-size: 1.5em;
	}
	
	body.mobile #headerwrapper h1 span {
		font-size: 12px;
	}

body.mobile #footerwrapper {
	width: auto;
}

	body.mobile #footer {
		position: relative;
		left: 10px;
		width: auto;
	}
	
	body.mobile #footer p.outro {
		width: 280px;
		top: 15px;
	}
	
	body.mobile #footer div.twitter .twitter-follow-button {
		top: -50px;
		left: 10px;
	}

body.mobile #mobilecontent {
	display: block;
	position: relative;
	width: auto;
	top: 0px;
	margin: 10px 20px 20px 20px;
	padding: 0;
}

	body.mobile #mobilecontent h1 {
		display: none;
		
		margin: 0 0 20px 70px;		
		font-weight: 400;
		font-size: 3em;
	}