/*#!less*/
/**
 * Example styles for advanced layout
 */
 
@bb: #5eafef;
@darker: #2183d0;
@dark: #013469;
@gray: #29323b;
@lighter: #f2f5fa;
@light: #deedf6;
@green: #98d021;
@neutral: black;

/* clear syntax hightlighting errors in netbeans */
body {}


h1, h2, h3, h4 {
	font-weight: normal;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 3em;
	margin-bottom: 0.3em;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1.3em;
	font-weight: 700;
}

p,ul,ol {
	margin-bottom: 0.8em;
}

::-moz-selection{ background: @dark; color:#fff; text-shadow: none; }
::selection { background: @dark; color:#fff; text-shadow: none; } 

dt {
	font-weight: bold;	
	width: 200px;
	float: left;
	clear: both;
}

dd {
	float: left;
}

dl.form {
	background-color: #F7F7F7;
	border: 1px solid #DDD;
	padding: 20px;
	display: inline-block;
	min-width: 250px;
}

dl.form.wide {
	min-width: 400px;
	position: relative;
}

dl.form dt {	
	margin-bottom: 5px;
	float: none;
	clear: none;
}

dl.form.wide dt {
	width: 150px;
	overflow: hidden;
	position: absolute;
	text-align: right;
}

dl.form dd {
	margin-bottom: 15px;
	float: none;
}

dl.form.wide dd {
	margin-left: 170px;
}

/********************
 * GENERAL STYLING
 ********************/

body {
	color: black;
	font-family: Arial, Helvetica, 'MS Sans Serif', Geneva, sans-serif;
	font-weight: 400;
	font-size: 16px;
	
	letter-spacing: 0.02em;
}

p {
	line-height: 1.4em;
}

#wrapper {
	width: 100%;
	height: 100%;	
}

/********************
 * HEADER
 ********************/

#headerwrapper {
	position: absolute;
	width: 100%;
	height: 150px;
	top: 0;
	left: 0;
	background-color: @lighter;
	border-bottom: 2px solid @bb;
}

	#header {
		position: relative;
		width: 760px;
		margin: 0 auto;
		padding: 0;
	}
	
	#header img {
		position: absolute;
		top: 27px;
		left: 10px;
	}
	
	#header h1 {
		position: absolute;
		top: 30px;
		left: 70px;
		
		font-weight: 700;
		font-size: 2em;
		letter-spacing: -0.05em;
	}
	
	#header h1 span {
		position: absolute;
		top: -4px;
		left: 10px;
		font-size: 15px;
		font-weight: normal;
		color: lighten(@gray, 40%);
	}
	
	#header h2 {
		position: absolute;
		top: 30px;
		left: 300px;
		
		color: @bb;
		
		font-weight: 400;
		font-size: 2em;
		letter-spacing: -0.07em;
	}
	
	#header ul {
		position: absolute;
		top: 95px;
		left: 150px;
		margin: 0;
		padding: 0;
		
		list-style: none;
	}
	
		#header li {
			display: block;
			float: left;
			margin: 0 20px 0 0;
		}
		
		#header li a {
			display: block;
			width: 120px;
			height: 25px;
			padding: 6px 0 0 10px;
			
			color: black;
			background-color: white;
			
			font-weight: 700;
			font-size: 11pt;
			text-decoration: underline;
			letter-spacing: 0;
		}
		
		#header li a:hover {
			background-color: @bb;
			 -moz-box-shadow: 3px 3px 0px @ligher; 
		  -webkit-box-shadow: 3px 3px 0px #808285; 
		          box-shadow: 3px 3px 0px @darker;			
		}
		
		#header li a.active {
			color: white;
			background-color: @green;			
		}

/********************
 * CONTENT (MIDDLE)
 ********************/

#content {
	position: relative;
	width: 760px;
	top: 150px;
	margin: 0 auto 200px auto;
	padding: 30px 0 0 0;
}

	#content h1 {
		display: none;
		
		margin: 0 0 20px 70px;		
		color: @neutral;
		font-weight: 400;
		font-size: 3em;
	}

/********************
 * FOOTER
 ********************/

#footerwrapper {
	position: relative;
	width: 100%;
	height: 200px;
	padding: 0 0 20px 0;
	background-color: @lighter;
	border-top: 2px solid @bb;
}

	#footer {
		position: relative;
		width: 760px;
		margin: 0 auto;
		padding: 0;
	}
	
	#footer p {
		position: absolute;
		top: 30px;
		left: 0px;
		width: 300px;
		margin: 0;
		padding: 0 0 0 10px;
		font-size: 0.7em;
		line-height: 2em;
		word-spacing: 0.3em;
	}
	
	#footer p strong {
		text-decoration: none;
	}
	
	#footer span {
		position: absolute;
		top: 180px;
		left: 600px;
		
		font-size: 0.7em;
		font-weight: 700;
	}

/********************
 * CONTENT (COLUMN) STYLES
 ********************/

/* INTRO TEXT */

.intro {
	font-weight: 700;
	margin: 0 0 20px 70px;
}

/* LEFT COLUMN */

.left-column {
	position: relative;
	width: 310px;
	float: left;
	
	border-right: 1px solid black;
}

	.left-column .item {
		position: relative;
		clear: both;
		
		cursor: pointer;
	}
	
	.left-column .item:hover .box {
	     -moz-box-shadow: 3px 3px 0px #BCBEC0; 
	  -webkit-box-shadow: 3px 3px 0px #BCBEC0; 
	          box-shadow: 3px 3px 0px #BCBEC0;
	}
	
	.left-column .item img {
		display: block;
		position: absolute;
		left: 10px;
		float: left;
		
		background-color: #fff; /* ie7-8 opacity with png bug */
	}
		
	.left-column .item img.grayed-out {
		opacity: 0.4;
		filter: alpha(opacity=40);
	}
	
	.left-column .item .box { 
		display: block;
		position: relative;
		height: 48px;
		width: 200px;
		left: 70px;
		margin: 0 0 10px 0;
		padding: 4px 0 0 8px;
		float: left;
		
		color: white;
		background-color: #D1D3D4;
		
		font-weight: 400;
		font-size: 21pt;
		letter-spacing: 0;	
	}
	
	.left-column .item .box small {
		font-size: 14pt;	
	}
	
	.left-column .item .box > span {
		font-weight: 400;
		font-size: 29pt;
		letter-spacing: 0;	
	}
	
	.left-column .item .box > span span {
		font-weight: 400;
		font-size: 16pt;
		letter-spacing: 0;	
	}
	
/* ARROW IN DIVIDER LINE */
	
.divider-arrow {
	position: absolute;
	background-color: white;
	top: 20px;
	left: 300px;
	height: 9px;
	font-size: 21px;
	line-height: 8px;
	padding: 0;
	margin: 0;
}

/* RIGHT COLUMN */

.right-column {
	position: relative;
	width: 300px;
	margin: 0 0 0 30px;
	float: left;
}

	.right-column div.item {
		display: none;
		background-color: #fff; /* ie7-8 opacity with png bug */
	}

	.right-column h3 {
		font-weight: 700;
		margin: 0 0 20px 0;
	}
	
	.right-column h3.warning {
		padding: 5px;
		font-weight: 600;
		background-color: #00A651;
		color: white;
	}
	
	.right-column p {
		margin: 20px 0 20px 0;
	}
	
	.right-column p a, .right-column h3 a {
		color: #F68B1F;
		font-weight: 600;
	}
	
	.right-column h3.warning a {
		color: white;
	}
	
	.right-column h3 a, .right-column h3 strong {
		font-weight: 700;
	}
	
	.right-column p a:hover, .right-column h3 a:hover {
		background-color: #F68B1F;
		color: white;
	}
	
	.right-column h3.warning a:hover {
		background-color: transparent;
	}
	
/********************
 * CONTENT (TEASER) STYLES
 ********************/
	
.teaserwrapper {
	position: relative;
	width: 100%;
	height: 120px;
	margin: 0;
	border-top: 2px solid #ccc;
}

	.teaser {
		position: relative;
		width: 760px;
		margin: 0 auto;
		padding: 0;
	}
	
	.teaser p {
		display: block;
		position: absolute;
		left: 90px;
		top: 0;
		width: 200px;
		padding: 26px 0 0 0;
		
		font-weight: 700;
		text-align: right;
	}
	
	.teaser .bg {
		position: absolute;
		left: 320px;
		top: 0;
		width: 430px;
		height: 120px;
		padding: 0;
		
		background-color: @green;
	}
	
	.teaser .bigbutton {
		position: absolute;
		left: 100px;
		top: 33px;
	}
	
	.codewrapper {
		height: auto;
	}
	
	.codewrapper .col1 {
		display: block;
		width: 760px;
		padding: 26px 0 26px 0;
		
		font-weight: 700;
		text-align: right;
	}
	
	.codewrapper h3 {
		text-align: left;
		margin-bottom: 20px;
	}
	
/********************
 * MISC STYLES
 ********************/

/* BUTTONS & SHADOW */

a.bigbutton {
	display: block;
	width: 200px;
	height: 45px;
	padding: 7px 0 0 20px;
	
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 21pt;
	text-decoration: underline;
	letter-spacing: 0;
}

a.bigbutton.gray {
	color: black;
	background-color: #D1D3D4;			
}

a.bigbutton.gray:hover {
	background-color: #BCBEC0;
	 -moz-box-shadow: 3px 3px 0px #808285; 
  -webkit-box-shadow: 3px 3px 0px #808285; 
          box-shadow: 3px 3px 0px #808285;			
}

a.bigbutton.white {
	color: black;
	background-color: white;			
}

a.bigbutton.white:hover {
	color: @gray;
	 -moz-box-shadow: 3px 3px 0px darken(@green, 20%); 
  -webkit-box-shadow: 3px 3px 0px darken(@green, 20%); 
          box-shadow: 3px 3px 0px darken(@green, 20%);			
}

.bb-shadow {
	     -moz-box-shadow: 3px 3px 0px @light; 
  -webkit-box-shadow: 3px 3px 0px @light; 
          box-shadow: 3px 3px 0px @light;
}

.gray-shadow {
	     -moz-box-shadow: 3px 3px 0px #BCBEC0; 
  -webkit-box-shadow: 3px 3px 0px #BCBEC0; 
          box-shadow: 3px 3px 0px #BCBEC0;
}

.alt-shadow {
	     -moz-box-shadow: 3px 3px 0px darken(@green, 10%); 
  -webkit-box-shadow: 3px 3px 0px darken(@green, 10%); 
          box-shadow: 3px 3px 0px darken(@green, 10%);
}

/* TYPE TAGS RESTYLING */

strong {	
	font-weight: 600;
}

strong[original-title], strong[title] {
	text-decoration: underline;
}
